<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <GameServer>
    <Port>12345</Port>
    <Protocol>100100</Protocol>
    <Tickrate>64</Tickrate>
  </GameServer>
  <Game>
    <Debug>false</Debug>
    <Multithreading>true</Multithreading>
    <MaxConnections>4</MaxConnections>
  </Game>
  <Client>
    <Timeout>0</Timeout>
    <ReliableResend>100</ReliableResend>
    <PacketLogCount>128</PacketLogCount>
  </Client>
  <Logger>
    <Severity>info</Severity>
    <LogFile>server.log</LogFile>
  </Logger>
  <NetSim>
    <InLoss>0.00</InLoss>
    <OutLoss>0.00</OutLoss>
  </NetSim>
</Settings>
